@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

:root{
  --color-main: #1E429F;
  --main-text: #111928;
  --second-text: #6B7280;
}
.border-gradient {
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, #3F52B4, #B22459);
  border-image-slice: 1;
}

